<%- model_class = Stock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
<div class="clearfix"></div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:stock) %></th>
      <th><%= model_class.human_attribute_name(:account_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to stock.id, stock_path(stock) %></td>
        <td><%= stock.product.try(:name) %></td>
        <td><%= stock.stock %></td>
        <td><%= stock.account.try(:name) %></td>
        <td><%=l stock.created_at %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @stocks, :theme => 'twitter-bootstrap-3' %>
<br>
<%= page_entries_info @stocks %>
