<h2><%= @account.name %> <small class="balanceText <%= @account.balance_health %>">Bakiyeniz: ₺ <%= @account.balance.to_f %></small></h2>

<%- model_class = AccountActivity -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= 'Kaynak' %></th>
    <th><%= model_class.human_attribute_name(:amount) %></th>
    <th><%= t :created_at %></th>
    <th>İşlemi yapan</th>
  </tr>
  </thead>
  <tbody>
  <% @account_activities.each do |account_activity| %>
      <tr>
        <td><%= link_to(account_activity.source.try(:name), url_for(account_activity.source)) rescue '' %></td>
        <td class="<%= account_activity.amount > 0 ? 'success' : 'danger' %>">₺<%= account_activity.amount.to_f %></td>
        <td><%=l account_activity.created_at %></td>
        <td><%= account_activity.admin.try(:name) || '-' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @account_activities,:theme => 'twitter-bootstrap-3' %>
