<h2><%= @current_account.name %> <small class="pull-right">₺<%= @current_account.balance %></small></h2>

<%- model_class = AccountActivity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= 'Kaynak' %></th>
    <th><%= model_class.human_attribute_name(:amount) %></th>
    <th><%= model_class.human_attribute_name(:account_id) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
  </tr>
  </thead>
  <tbody>
  <% @account_activities.each do |account_activity| %>
      <tr>
        <td><%= link_to(account_activity.source.try(:name), url_for(account_activity.source)) rescue '' %></td>
        <td><%= account_activity.amount %></td>
        <td><%= account_activity.account.try(:name) %></td>
        <td><%=l account_activity.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
