<div class="col-xs-8">

  <ul class="productList">
    <% @products.each do |product| %>
        <li onclick="$(this).find('form').trigger('submit');">
          <div class="productItem text-center" data-id="<%= product.id %>">
            <%= form_tag populate_orders_path, data: {method: :post, remote: true} do %>
                <%= image_tag url_for(product.image), width: 148, height: 148 if product.image.attached? %>
                <div class="productFooter">
                  <b><%= product.name %>
                    ₺<%= product.price %>
                  </b>
                </div>
                <%= hidden_field_tag :product_id, product.id %>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>

</div>
<div class="col-xs-4">
  <%= render partial: 'orders/cart' %>
</div><!--/span-->


<style>
  .productList {

  }

  .productList li {
    cursor: pointer;
    list-style: none;
    float: left;
    border: 1px solid gray;
    width: 150px;
    height: 175px;
    background: #f5f5f5;
    margin: 15px;
  }
</style>