<div id="cartArea" class="">
  <% if @order.present? && @order.line_items.present? %>
      <h3>Sipariş detayı</h3>
      <div class="scrollableArea marB30">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Ürün</th>
            <th>Tutar</th>
            <th>Sil</th>
          </tr>
          </thead>
          <tbody>

          <% @order.line_items.each do |li| %>
              <tr>
                <td><%= li.product.name %></td>
                <td><b>₺<%= li.total %></b></td>
                <td><%= link_to 'X', remove_item_orders_path(line_item_id: li.id), data: {method: :delete, remote: true}, class: 'btn btn-default btn-sm btn-flat' %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="cartAction">
        <div class="cartTotal">
          <b class="pull-left f-s-16">Toplam</b>
          <b class="pull-right f-s-16">₺<%= @order.total %></b>
        </div>
        <%= form_tag complete_orders_path, method: :post do %>
            <%= submit_tag 'Ödeme Yap', class: 'btn btn-primary btn-block btn-flat btn-lg' %>
        <% end %>

      </div>
  <% else %>
      <h3>Sepetiniz boş</h3>
  <% end %>
</div><!--/.well -->

<script type="text/javascript" charset="utf-8">
hide_loading();

$("a[data-remote='true']").on('click', function (e) {
  get_loading_container();
  show_loading();
});

$('form').on('submit', function () {
  get_loading_container();
  show_loading();
});

</script>

