<div class="page-header">
  <h1>Sipariş detayı</h1>
</div>

<div class="col-lg-12">
  <table class="table table-striped table-bordered">

    <tbody>
    <tr>
      <td colspan="2">
        <b class="pull-left"><%= @order.account.try(:name) %></b>

      <span class="pull-right"><%= @order.completed_at.to_s(:long) %></span>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td><b>Ürün</b></td>
      <td class="text-right"><b>Fiyat</b></td>
    </tr>

    <% @order.line_items.each do |li| %>
        <tr>
          <td><%= li.product.try(:name) %></td>
          <td class="text-right">₺<%= li.price %></td>
        </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td class="text-right"><b>Toplam:</b></td>
      <td class="text-right"><b>₺<%= @order.total %></b></td>
    </tr>

    </tbody>
  </table>
</div>