<%- model_class = AccountActivity -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
  <%= link_to 'Bakiye Yükle',
  new_account_activity_path,
  :class => 'btn btn-primary pull-right' %>
  <div class="clearfix"></div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="5">
        <%= search_form_for @q, class: 'form-inline' do |f| %>
        <%= f.search_field :account_name_cont, placeholder: 'İsim', class: 'form-control' %>
        <%= f.search_field :created_at_cont, placeholder: 'Tarih', value: (I18n.localize(@date) rescue ''), autocomplete: 'off', class: 'form-control datepicker' %>
        <label><%= f.check_box :amount_gteq, {class: 'check form-control'}, -999999999, nil %> Tümü</label>
        <label><%= f.check_box :amount_lt,  {class: 'check form-control'}, 0, 9999999  %> Harcamalar</label>
        <label><%= f.check_box :amount_gt, {class: 'check form-control'}, 0, -9999999 %> Yüklemeler</label>
        <%= f.submit 'Ara', class: 'btn btn-default' %>
        <% end if @current_account.admin? %>
      </th>
    </tr>
    <tr>
      <th>Hesap</th>
      <th><%= sort_link @q, :amount, model_class.human_attribute_name(:amount) %></th>
      <th><%=sort_link @q, :created_at,  t(:created_at) %></th>
      <th><%= 'Kaynak' %></th>
      <th><%= 'İşlemi yapan' %></th>
    </tr>
  </thead>
  <tbody>
    <% @account_activities.each do |account_activity| %>
    <tr>
      <td><%= account_activity.account.try(:name) %></td>
      <td class="<%= account_activity.amount.to_f > 0 ? 'success' : 'danger' %>">₺<%= account_activity.amount.to_f %></td>
      <td><%= l account_activity.created_at %></td>
      <td><%= link_to(account_activity.source.try(:name), url_for(account_activity.source.respond_to?(:to_link) ? account_activity.source.to_link : account_activity.source)) rescue '' %></td>
      <td><%= account_activity.admin.try(:name) || '-' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @account_activities, :theme => 'twitter-bootstrap-3' %>
<br>
<%= page_entries_info @account_activities %>
<script type="text/javascript" charset="utf-8">
$(function(){
  $('.check').on('change', function(){
    $('.check').not($(this)).attr('checked', false).triggerHandler('click');
  })
})
</script>
<br>
<%= link_to 'Geri', params[:back], class: 'btn btn-default d-block' if params[:back] %>
<%= link_to url_for({:only_path => false, format: :xls}.merge(params.permit!)), target: '_blank' do %>
Excel'e aktar
<% end if @current_account.admin? %>
