<%- model_class = AccountActivity -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
  <%= link_to 'Bakiye Yükle',
              new_account_activity_path,
              :class => 'btn btn-primary pull-right' %>
  <div class="clearfix"></div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th colspan="5">
      <%= search_form_for @q do |f| %>
          <%= f.search_field :account_name_cont, placeholder: 'İsim' %>
          <%= f.search_field :created_at_cont, placeholder: 'Tarih', data: {provide: 'datepicker'}, value: (I18n.localize(@date) rescue ''), autocomplete: 'off' %>
          <%= f.submit 'Ara' %>
      <% end %>
      <%= link_to url_for({:only_path => false, format: :xls}.merge(params.permit!)),target: '_blank' do %>
          Excel'e aktar
      <% end %>
    </th>
  </tr>
  <tr>
    <th><%= 'Kaynak' %></th>
    <th><%= model_class.human_attribute_name(:amount) %></th>
    <th>Hesap</th>
    <th><%= t :created_at %></th>
    <th><%= 'Yönetici' %></th>
  </tr>
  </thead>
  <tbody>
  <% @account_activities.each do |account_activity| %>
      <tr>
        <td><%= link_to(account_activity.source.try(:name), url_for(account_activity.source.respond_to?(:to_link) ? account_activity.source.to_link : account_activity.source )) rescue '' %></td>
        <td><%= account_activity.amount %></td>
        <td><%= account_activity.account.try(:name) %></td>
        <td><%= l account_activity.created_at %></td>
        <td><%= account_activity.admin.try(:name) || '-' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @account_activities,:theme => 'twitter-bootstrap-3' %>
<br>
<%= page_entries_info @account_activities %>
