<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_product_path,
              :class => 'btn btn-primary' %>
<div class="clearfix"></div>
</div>
<table class="table table-striped sortable" data-sortable-link="<%= update_positions_products_path %>">
  <thead>
  <th colspan="5">
    <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont, placeholder: 'İsim' %>
        <%= f.submit %>
    <% end %>
  </th>

  <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= t :created_at %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="table-body" class="" >
    <% @products.each do |product| %>
      <tr id="<%= dom_id product %>" class="item">
        <td><%= link_to product.id, product_path(product) %></td>
        <td class="handle"><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%=l product.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products,:theme => 'twitter-bootstrap-3' %>
<br>
<%= page_entries_info @products %>
