<div>
  <h1 class="text-center">Detaylı Alişveriş Raporu</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="3" class="text-right">
          <%= link_to url_for({:only_path => false, print: true}.merge(params.permit!)),
          :data => {:confirm => 'Yazdırılacak, onaylıyor musunuz?'},
          :class => 'btn btn-xs btn-info pull-left' do %>
          <i class="fa fa-print"></i> Yazdır
          <% end %>

          <%= form_tag detailed_z_report_reports_path, method: :get, class: 'form-inline' do %>
          <div class="form-group" style="position: relative;">
            <%= text_field_tag :start, params[:start], placeholder: 'Başlangıç zamanı 2019-01-01 13:00', class: "datetimepicker datetimepicker1 form-control", autocomplete: 'off' %>
            <%= text_field_tag :end, params[:end], placeholder: 'Bitiş zamanı 2019-01-01 00:00', class: "datetimepicker datetimepicker2 form-control", autocomplete: 'off' %>
            <%= select_tag :account_id, options_for_select(Account.active.order(:name).pluck(:name, :id), selected: params[:account_id]), {prompt: 'Hesap Seçiniz', class: 'accountSelect'} %>
          </div>
          <%= submit_tag 'Getir', class: 'btn btn-default' %>
          <%= link_to 'Güncel Rapor', detailed_z_report_reports_path, class: 'btn btn-info' %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th colspan="3" class="text-center"><%= l @start_time %> - <%= l @end_time %> saatleri arası</th>
      </tr>

      <tr>
        <th>Ürün</th>
        <th>Adet</th>
      </tr>
    </thead>

    <tbody>
      <% @report.each do |username, h| %>
      <tr>
        <td colspan="2">
          <b><%= username %></b>
        </td>
      </tr>
      <% h.each do |k,v| %>
      <tr>
        <td class="text-right">
          <%= k %>
        </td>
        <td>
          <%= v %>
        </td>
      </tr>

      <% end %>
      <% end %>
      <tr>
        <td colspan="2"></td>
      </tr>
      <% if @report.empty? %>
      <tr>
        <td colspan="1" class="text-center">Sipariş bulunamadı</td>
      </tr>
      <% end %>
      <tr>
        <td colspan="1" class="text-right">
          Sipariş Sayısı
        </td>
        <td>
          <%= @orders.count %>
        </td>
      </tr>

      <tr>
        <td colspan="1" class="text-right">
          Toplam Sipariş Tutarı
        </td>
        <td>
          <b>₺<%= @total.to_f.round(2) %></b>
        </td>
      </tr>

      <tr>
        <td colspan="1" class="text-right">
          Ücretsiz satış
        </td>
        <td>
          <b>₺<%= @total_free.to_f.round(2) %></b>
        </td>
      </tr>

      <tr>
        <td colspan="1" class="text-right">
          Yüklenen Bakiye
        </td>
        <td>
          <% if @balance_added_ids.present? %>
          <b>
            <%= link_to account_activities_path(q: {id_in: @balance_added_ids}, back: url_for({:only_path => false}.merge(params.permit!))) do %>
            ₺<%= @balance_added.to_f.round(2) %>

          </b>
          <% end %>
          <% else %>
          <b>₺<%= @balance_added.to_f.round(2) %></b>
          <% end %>
        </td>
      </tr>


      <tr>
        <td colspan="1" class="text-right">
          İade Sipariş Bakiyesi
        </td>
        <td>
          <% if @balance_added_with_cancel_ids.present? %>
          <b>
            <%= link_to account_activities_path(q: {id_in: @balance_added_with_cancel_ids}, back: url_for({:only_path => false}.merge(params.permit!))) do %>
            ₺<%= @balance_added_with_cancel.to_f.round(2) %>
          </b>
          <% end %>
          <% else %>
          <b>₺<%= @balance_added_with_cancel.to_f.round(2) %></b>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= link_to url_for({:only_path => false, format: :xls}.merge(params.permit!)), target: '_blank' do %>
  Excel'e aktar
  <% end %>

  <%= link_to 'Z Raporu', zreport_reports_path, class: 'btn btn-info btn-xs' %>

  <br>
</div>
